*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Kumbh Sans", serif;
    overflow-x: hidden;
}
/*navbar*/
nav{
    display: flex;
    justify-content: space-between;
    color: #333461;
    height: 60px;
    align-items: center;
    padding-bottom: 10px;
}
.logo{
    display: flex;
    width: 160px;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 21px;
    position: relative;
    margin-left: 25px;
}
.logo img{
    position: absolute;
    margin-right:127px ;
    margin-top: 5px;
}
.logo h1{
    font-size:15px;
}
.logo b{
    color:#20AD96 ;
    font-size: 35px;
}
.options{
    display: flex;
    width: 576px;
    height: 40px;
    gap:27px;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-right: 75px;
}
nav ul{
    list-style: none;
    display: flex;
    gap:27px
}
nav ul li{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -2%;
    text-align: right;
    color: #4A556C;
}
nav button{
    color: #FFFFFF;
    background-color: #20AD96;
    width: 193px;
    height: 40px;
    padding:11px 16px;
    border: none;
    border-radius: 4px;
    font-family:"Kumbh Sans", serif;
    font-weight: 600;
    cursor: pointer;
}
/*section 1*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(2,720px);
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 8px;
}
.grid-item{
    margin-top: 130px;
    margin-left: 112px;
    margin-bottom: 98px;
}
.grid-container h2{
    color: #333461;
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
}
.grid-container .lorem{
    color: #4A556CB2;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}
.grid-container h3{
    font-family: "Inter", serif;
    color: #4A556CB2;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}
input{
    width: 299px;
    height: 48px;
    padding:12px 14px 12px 16px ;
    margin-top: 20px;
    color: #4A556CB2;
}
.grid-container span{
    text-decoration: underline solid #4A556CB2;
}
.grid-container button{
    color: #FFFFFF;
    background-color: #20AD96;
    width: 299px;
    height: 48px;
    padding:11px 16px;
    border: none;
    border-radius: 8px;
    font-family: "Kumbh Sans", serif;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.grid-item1{
    background-color: #FAF8F6;
    padding: 85px 148px 54px 126px;
    position: relative;
}
.shape{
    width: 446px;
    height: 581px;
    background-color: #333461;
}
.grid-item1 h2{
    position: absolute;
    color: #FFFFFF;
    width: 218px;
    height: 245px;
    padding-top: 50px;
    padding-left:38px ;
    font-size: 40px;
}
.grid-item1 img{
    padding-top: 217px;
    padding-left: 105px;
}
.rectangle{
    position: absolute;
    background-color: #413A7D4D;
    width: 446px;
    height: 78px;
    margin-top:476px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    
    
}
.rectangle h3{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    margin-left:7px;
    margin-top: 25px;
    padding-right: 40px;
}
.rectangle p{
    color: #FFFFFF;
    font-size: 10px;
    margin-left: 93px;
    position: absolute;
    margin-top:45px
}
.rectangle .circle{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 18px;
}
.secondS h3{
    color: #4A556C80;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.secondS h2{
    color: #333461;
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    width: 900px;
}
.secondS .test{
    margin-top: 68px;
    padding-bottom:68px ;
}
.secondS button{
    color: #FFFFFF;
    background-color: #20AD96;
    width: 225px;
    height: 48px;
    padding:12px 20px;
    border: 1px solid #20AD96;
    border-radius: 8px;
    font-family: "Kumbh Sans", serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
}
.secondS{
    display: flex;
    width: 100%;
    height: 230px;
    justify-content: center;
    align-items: center;
    gap:92px
}